<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 mx-auto">
  <div class="sm:mx-auto sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"><%= t("signup") %></h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:max-w-sm">
    <%= form_with(model: @user, class: "space-y-3") do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, t("activerecord.attributes.user.name"), class: "block text-sm font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= f.text_field :name, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6" %>
      </div>
      <%= f.label :email, t("activerecord.attributes.user.email"), class: "block text-sm font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= f.text_field :email, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6" %>
      </div>
      <%= f.label :password, t("activerecord.attributes.user.password"), class: "block text-sm font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= f.password_field :password, autocomplete: "new-password", required: 'required', class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6" %>
      </div>
      <%= f.label :password_confirmation, t("activerecord.attributes.user.password_confirmation"), class: "block text-sm font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", required: 'required', class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6" %>
      </div>
      <%= f.submit t("register"), class: "flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600" %>
  <% end %>
  </div>
</div>
