<%= turbo_frame_tag new_object do %>
    <div class="flex justify-between items-center flex-column flex-wrap">
        <h1 class="font-bold text-4xl"><%= list_title_path %></h1>
        <div class="flex items-center justify-between">
            <% if local_assigns[:search_form] %>
                <%= render local_assigns[:search_form], locals: local_assigns[:search_params] %>
            <% end %>
            <% if local_assigns[:load_words_button_link] %>
                <%= link_to load_words_button_link, class: 'text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white' do %>
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M9 7V2.221a2 2 0 0 0-.5.365L4.586 6.5a2 2 0 0 0-.365.5H9Zm2 0V2h7a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-5h7.586l-.293.293a1 1 0 0 0 1.414 1.414l2-2a1 1 0 0 0 0-1.414l-2-2a1 1 0 0 0-1.414 1.414l.293.293H4V9h5a2 2 0 0 0 2-2Z" clip-rule="evenodd"/>
                    </svg>
                <% end %>
            <% end %>
            <%= link_to create_button_link, class: 'text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white' do %>
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                </svg>
            <% end %>
        </div>
    </div>

    <% if local_assigns[:is_empty_list] %>
        <div class="items-center">
            <p class="mt-5 mb-3 text-lg text-center text-gray-500 md:text-xl dark:text-gray-400">Empty for now</p>
        </div>
    <% end %>

<% end %>
