<%= turbo_frame_tag list_id do %>
  <div class="w-full">
    <div id="flash">
        <%= render 'shared/flash' %>
    </div>
    <%= render 'shared/header',
        create_button_title_path:,
        create_button_link:,
        new_object:,
        list_title_path:
    %>
    <div class="mt-4">
      <ul class="space-y-4 mb-10">
        <%= turbo_frame_tag 'list' do %>
            <%= render list %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
