<%= turbo_frame_tag list_id do %>
  <div class="w-full">
    <div id="flash">
        <%= render 'shared/flash' %>
    </div>
    <% local_assigns[:is_empty_list] = list.empty? %>
    <%= render 'shared/header', local_assigns %>
    <div class="mt-4">
      <ul class="space-y-4 mb-10">
        <%= turbo_frame_tag 'list', data: { turbo_action: 'advance' } do %>
            <div id="pagy_list" class='<%= local_assigns[:list_class]%>'><%= render list %></div>
            <% if local_assigns[:pagination_src] %>
              <%= turbo_frame_tag :pagination,
                loading: :lazy,
                src: pagination_src
              %>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
