<%= turbo_frame_tag list_id do %>
  <div class="w-full">
    <div id="flash">
        <%= render 'shared/flash' %>
    </div>
    <% local_assigns[:is_empty_list] = list.empty? %>
    <%= render 'shared/header', local_assigns %>
    <div class="mt-4">
      <ul class="space-y-4 mb-10">
        <%= turbo_frame_tag 'list', class: local_assigns[:list_class], data: { turbo_action: 'advance' } do %>

            <div id="list_words"><%= render list %></div>
            <%= turbo_frame_tag :pagination,
              loading: :lazy,
              src: words_path(dictionary_id: @dictionary.id, format: :turbo_stream, q: @query)
            %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
