<%= turbo_frame_tag dictionary do %>

  <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white truncate"><%= dictionary.name %></h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= dictionary.translation_type_display %></p>

    <div class="flex flex-wrap justify-between">
      <%= link_to t('dictionary.show.action'), dictionary, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium mb-1", data: { turbo_frame: '_top' } %>
      <%= link_to t('dictionary.edit.action'), edit_dictionary_path(dictionary, page: @page), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium mb-1" %>
      <%= link_to t('dictionary.destroy.action'), dictionary_path(dictionary), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium mb-1", data: { turbo_method: :delete, turbo_confirm: t('are_you_sure') } %>
    </div>
  </div>

<% end %>
