<%= turbo_frame_tag word do %>
    <%= form_with(model: word, class: "contents") do |form| %>
        <%= render 'shared/error_messages', object: word %>

        <div class="my-5">
            <%= form.label :content %>
            <%= form.text_field :content, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
        </div>

        <div class="my-5">
            <%= form.label :translation, class: "block mb-2 text-gray-900 dark:text-white" %>
            <%= form.text_field :translation, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
        </div>
        <%= form.hidden_field :dictionary_id, value: word.dictionary_id %>
        <div class="inline">
            <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
            <%= link_to t('word.back_to_words'), words_path(dictionary_id: word.dictionary_id, page: @page), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        </div>
    <% end %>
<% end %>
