<!DOCTYPE html>
<html>
  <head>
    <title>EnjoyWord</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.turbo.min.js"></script>
  </head>

  <body>
    <% main_class = logged_in? ? "p-4 sm:ml-64" : "container mx-auto mt-28 px-5 flex" %>
    <% if logged_in? %>
      <div class="hidden sm:block">
        <%= render 'layouts/sidebar/full' %>
      </div>
    <% end %>
    <%= tag.main class: main_class do %>
      <%= yield %>
    <% end %>
    <% if logged_in? %>
      <div class="block sm:hidden">
        <div class="mb-80px"></div>
        <%= render 'layouts/sidebar/mobile' %>
      </div>
    <% end %>
  </body>
</html>
