<!DOCTYPE html>
<html>
  <head>
    <title>EnjoyWord</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.turbo.min.js"></script>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'layouts/sidebar' %>
      <% main_class = "p-4 sm:ml-64" %>
    <% else %>
      <% main_class = "container mx-auto mt-28 px-5 flex" %>
    <% end %>
    <%= tag.main class: main_class do %>
      <%= yield %>
    <% end %>
</html>
